.vscode/**
.vscode-test/**
src/**/*.ts
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test/
node_modules/**
.gitignore
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/obj/
**/testdata/
tools/**
.github/**
.vscode-test-web/**
.vscode-test/**
node_modules/**
readme.md
pnpm-lock.yaml
pg-drive
jest.config.js
eslint.config.mjs
scripts/
out/
docs/