.vscode/**
.vscode-test/**
src/**/*.ts
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.biome.json
**/*.map
**/*.ts
test/
node_modules/**
.gitignore
esbuild.js
**/tsconfig.json
**/biome.json
**/*.map
**/*.ts
**/.vscode-test.*
**/obj/
**/testdata/
tools/**
.github/**
.vscode-test-web/**
.vscode-test/**
node_modules/**
readme.md
pnpm-lock.yaml
pg-drive
jest.config.js
biome.json
scripts/
docs/
bin/